#entrada{
    margin: 8px;
}

#box {
    margin-top: 10px;
    display: inline-block;
    padding: 6px 9px;
    font-size: 50px;
    background-color: rgb(253, 201, 247);
    border-radius: 10px;
    height: 50px;
    margin-bottom: 16px;
    padding-bottom: 11px;

  }
#subs{
    font-size: 13px;
    padding-top: 4px;
    text-align: center;
}
#buttons > button{
    margin-top: 10px;
    background-color: #e865c1;
    border: 2px solid rgb(250, 180, 244);
    border-radius: 10px;
    color: white;
    padding: 10px 7px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
#buttons > button:hover{
    background-color: #e442b4;
    border: 2px solid rgb(238, 87, 225);
    border-radius: 10px;
    color: white;
    
}
#title{
    text-decoration: none;
    padding: 10px 7px;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(255, 101, 214);
}
#lista{
    border : 2px solid rgb(238, 87, 225);
    border-radius: 10px;
    width: 270px;
    margin-left: 2px;
}



